body {
    background-image: url("niveis-e-modalidades-de-ensino-da-Educacao-Basica-scaled-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }
   h1 {
       text-align: center;
       color: rgb(255, 255, 255);
       font-size: 100px;
   }
   p{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 253, 253);
   }
   .botao{
       background-color: rgb(255, 255, 255);
       color: rgb(255, 255, 255);
       border: none;
       text-align: center;
       padding: 50px 50px;
       display: inline-block;
       cursor: pointer;
   }
   li{
       font-size: 30px;
       color: rgb(255, 255, 255);
   }
